body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html.wf-design-mode * {
  /* cursor: default; */
  -webkit-user-drag: none;
}

html.wf-design-mode {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div {
  display: block;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  line-height: 33px;
  font-weight: 500;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
}

a {
  background-color: transparent;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

script {
  display: none;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 22px;
  font-weight: 400;
}

input {
  line-height: normal;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
}

textarea {
  overflow: auto;
}

textarea {
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 2px;
}

/* header */

.navigation-bar.dark {
  position: static;
  display: block;
  float: none;
  background-color: #5d5d5d;
  overflow: hidden;
}

.navigation-bar {
  background-color: white;
}

.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}

.w-nav::before,
.w-nav::after {
  content: " ";
  display: table;
}

.w-nav:after {
  clear: both;
}

.brand-link.left-spacing {
  margin-left: 15px;
  color: white;
}

.brand-link {
  height: 60px;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.brand-text {
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 23px;
  line-height: 26px;
  font-weight: 400;
}

.navigation-menu {

}

.w-nav-menu {
  position: relative;
  float: right;
}

.navigation-link.white {
  color: white;
}

.navigation-link {
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/* hero-section */

.hero-section {
  height: 600px;
  padding-top: 178px;
  background-color: #f1f1f1;
  text-align: center;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container:before,
.w-container:after {
  content: " ";
  display: table;
}

.w-container:after {
  clear: both;
}

.w-container:before,
.w-container:after {
  content: " ";
  display: table;
}

.profile-image {
  margin-bottom: 15px;
  border-radius: 100px;
}

.hero-heading {

}

.hero-subheading {
  margin-bottom: 18px;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 8px;
  border-radius: 100px;
  /* background-color: #333;     work on later */
  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

/* section */

.section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}

.w-container
.w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-row:before,
.w-row:after {
  content: " ";
  display: table;
}

.w-row:after {
  clear: both;
}

.w-row:before,
.w-row:after {
  content: " ";
  display: table;
}

.waterfall-content-column {
  padding-top: 39px;
}

.w-col-6 {
  width: 50%;
}

.w-col {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.section-heading {
  margin-bottom: 20px;
}

.section-subheading {

}

.waterfall-image-column {
  text-align: center;
}

.section.accent {
  background-color: rgb(243, 243, 243);
}

.section-title-group {
  margin-bottom: 62px;
}

.section-heading.centered {
  text-align: center;
}

.section-heading {
  margin-bottom: 20px;
}

.section-subheading.center {
  font-size: 20px;
  text-align: center;
}


/* lightbox */

.grid-fours {
  width: 25%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  float: left;
}

/* section3 */

.section-subheading.center.sasd-asd-as {

}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}

.w-col-4 {
  width: 33.33333333%;
}

.grid-image {
  margin-bottom: 20px;
}

.w-col-8 {
  width: 66.66666667%;
}

/* contact form */

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
}

.form-wrapper {

}

.w-form {
  margin: 0 0 15px;
}

form {
  display: block;
  margin-top: 0em;
}

.form-label {
  margin-bottom: 6px;
  font-size: 13px;
  text-transform: uppercase;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field {
  min-height: 41px;
  margin-right: 1px;
  margin-bottom: 17px;
  border-style: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px;
  transition-property: box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.w-input, .w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.form-field.text-area {
  min-height: 110px;
}

textarea.w-input, textarea.w-select {
  height: auto;
}

.button.full-width {
  display: block;
  width: 100%;
}

input.w-button {
  -webkit-appearance: button;
}

/*


input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
}

input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

input[type="button" i],
input[type="submit" i],
input[type="reset" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
} */

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.button {
  display: inline-block;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 11px;
  padding-left: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: ease;
  color: white;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  opacity: 0.5;
}

.success-wrapper {
  padding-top: 31px;
  padding-right: 31px;
  padding-bottom: 31px;
  padding-left: 31px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #4caf50;
  color: white;
}

.w-form-done {
  padding: 20px;
  text-align: center;
  /* background-color: #dddddd; */
}

.success-message {
  margin-bottom: 0px;
}

.error-wrapper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #d32f2f;
  color: white;
}

.w-form-fail {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  /* background-color: #ffdede; */
}

.w-hidden-done {
  display: none;
}

.w-hidden-fail {
  display: none;
}

.error-message {
  margin-bottom: 0px;
}

/* footer */

.footer.accent {
  background-color: #f1f1f1;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.float-right {
  float: right;
}

.social-icon-link {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
